@media screen and (min-width: 1920px) {
    body {
        font-size: 130%;
    }

    header {
        margin: 1%;
    }

    .mem-label {
        cursor: pointer;
    }

    .img-mem img {
        width: 30%;
    }










}